{{#each result}}
<div id= "resultPatch">
<form id = "resultForm" method="POST" action="/generate"> <!-- Form Two -->
    <div class = "quadrit">{{this.name}}</div>
    <input type="checkbox" id="deleteBox" value="{{this._id}}"> <label for="deleteBox" id="deleteLabel" class = "quadrit">Delete</label><br>
    <div id= "resultCol">
    {{#each volume}}
      <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
  <div id= "resultCol">
    {{#each transpose}}
    <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
  <div id= "resultCol">
    {{#each commandOne}}
    <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
  <div id= "resultCol">
    {{#each commandOneParams}}
    <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
  <div id= "resultCol">
    {{#each commandTwo}}
    <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
  <div id= "resultCol">
    {{#each commandTwoParams}}
    <div id = "outputCell" class = "minecraft-regular">{{this}}</div>
    {{/each}}
  </div>
    <br>
</div>
</form>
{{/each}}
<button type="button" id="clearPatches" class="clearButton" onclick="clearPatches()">Delete All</button>

<script type = "text/javascript">
function clearPatches() /* AJAX Interaction 1 */
{
    var req = new XMLHttpRequest();
    //url = "http://localhost:3000/clearAll";
    url = "http://i6.cims.nyu.edu:17381/clearAll";
    req.open('GET', url, true);
    req.send();
    location.reload(false);
}
</script>
